.text-center {
    text-align: center;
}
h1 {
    text-align: center;
}
.encabezado{
    margin: 50px 50px;
}
footer{
    margin: 50px 50px;
}
table > tr > td{
    margin: 20px;    
}
.form-button {
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(216, 216, 216);
    border: 0px;
    cursor: pointer;
}
button > a {
    text-decoration: none;
    color: black;
}